# Python cache
__pycache__/
scratch/
examples/
./src/openmm_cli/__pycache__
./src/openmm_cli/commands/run/__pycache__
./src/openmm_cli/commands/__pycache__

# Virtual environment (.venv)
./src/openmm_cli.egg-info
.venv/



